@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.CatView {
    transition: all .5s ease;
    width: 100%;
    max-width: none;
    height: 100%;
}

.CatView--eyes {
    transform: scale(2.8) translate(-50px, 160px);
    transition: all .5s ease-out;
}

.CatView--necklace {
    transform: scale(3) translate(-50px, 40px);
    transition: all .5s ease-out;
}

.CatView--hat {
    transform: scale(2.8) translate(-50px, 220px);
    transition: all .5s ease-out;
}