@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.CatView {
    transition: all .5s ease;
    width: 100%;
    max-width: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.CatView__container {
    width: 100%;
    max-width: none;
    height: 95%;
}

.CatView--eyes {
    transform: scale(3.5) translate(-50px, 140px);
    transition: all .6s ease-out;
}

.CatView--necklace {
    transform: scale(3) translate(-50px, 40px);
    transition: all .5s ease-out;
}

.CatView--hat {
    transform: scale(3) translate(-50px, 230px);
    transition: all .5s ease-out;
}
