@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.CatView {
    transition: all .5s ease;
    width: 100%;
    max-width: none;
    height: 90%;
}

.CatView--eyes {
    transform: scale(2.5) translate(-50px, 200px);
    transition: all .5s ease-out;
}

.CatView--necklace {
    transform: scale(2.5) translate(-50px, 50px);
    transition: all .5s ease-out;
}

.CatView--hat {
    transform: scale(2.5) translate(-50px, 350px);
    transition: all .5s ease-out;
}