@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.CatItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    width: 100%;
    list-style-type: none;
    margin-top: 10px;
    background-color: teal;
}

.CatItem__preview {
    width: 200px;
    height: 100%;

}

.CatItem__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.CatItem__info h3 {
    margin: 5px 0;
}

.CatItem__info p {
    margin: 5px 0;
}