@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.EditSection {
    display: flex;
    flex-direction: column;
}

.EditSection__title {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
    color: #808183;
}

.EditSection__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
